body{
    border-style: inherit;
    background-image: url("Madzery.jpg");
    padding: 80px;
}

main{
     max-width: 1000px; 
     margin: auto;
}

.grid{
     display: grid; 
     gap: 10px;
}

.cards{
     display: grid; 
     grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
     gap: 10px;
     margin-block: 5px;
}